/*Below 1246px*/
@media (max-width: 78em) {
  .grey-container-heading {
    font-size: 4rem;
  }

  .more-info:link,
  .more-info:visited {
    font-size: 1.2rem;
    padding: 1rem 1.2rem;
  }

  .book:link,
  .book:visited {
    font-size: 1.2rem;
    padding: 1rem 2.6rem;
  }
  html {
    font-size: 56.25%;
  }
}

/*Below 944px*/
@media (max-width: 59em) {
  html {
    font-size: 50%;
  }

  .grey-container-heading {
    font-size: 3.2rem;
  }

  .customer-expirience {
    font-size: 1.4rem;
  }
}

/*Below 832px*/
@media (max-width: 52em) {
  .main-text {
    font-size: 1.5rem;
  }

  .grid-three-cols-about-us {
    grid-template-columns: 1fr 1fr;
  }

  .about-us-pic-1 {
    grid-column: 1/2;
  }

  .about-us-text {
    grid-column: 2/4;
    grid-row: 1/2;
  }

  .about-us-pic-2 {
    grid-column: 1/4;
    grid-row: 4/5;
    height: 50rem;
  }

  .grid-col-priority {
    grid-column: 1/2;
  }

  .grid-col-priority-2 {
    grid-column: 2/4;
  }

  .grid-three-cols-services {
    grid-template-columns: 1fr 1fr;
  }

  .sidebar {
    grid-column: 1/4;
    grid-template-columns: 2fr 2fr 1fr 2fr;
  }

  .content {
    grid-column: 1/4;
  }

  .grey-container {
    padding: 7rem 5rem 7rem 5rem;
  }

  .grid-four-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .section-advantages-left {
    padding-right: 6rem;
  }

  .heading-primary {
    font-size: 4.5rem;
  }

  .grid-three-cols-reviews {
    grid-template-columns: repeat(2, 1fr);
  }

  .section-transfers-text-flex {
    display: block;
  }

  .page-our-tours-main-image {
    margin-top: 4rem;
  }

  .grid-three-cols-transfers {
    grid-template-columns: repeat(2, 1fr);
  }

  .our-approach-heading {
    grid-column: 1/3;
  }

  .second-heading {
    grid-column: 1/3;
  }
  /*bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb*/
  .grid-three-cols-our-aproach {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-three-cols-destinations {
    grid-template-columns: repeat(2, 1fr);
  }

  .project-height {
    height: 56rem;
  }

  .grid-three-cols-us-about {
    grid-template-columns: repeat(2, 1fr);
  }

  .about-us-heading {
    grid-column: 1/3;
  }

  .about-us-text-html {
    grid-column: 1/3;
    grid-row: 2/3;
  }
}

/*Below 700px*/
@media (max-width: 43.75em) {
  .section-heading {
    font-size: 3.2rem;
  }

  /*MOBILE NAV*/
  .btn-mobile-nav {
    display: block;
    z-index: 1100;
  }

  .nav {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    text-align: center;
    padding: 4rem 0;
    transition: top 0.3s ease-in-out;
  }

  .nav-list {
    flex-direction: column;
    gap: 2.5rem;
  }

  .header.open-nav .nav {
    top: 5rem;
  }

  .header.open-nav .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }
  .header.open-nav .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .section-destination-grid {
    grid-template-columns: 1fr;
  }

  .footer-container {
    grid-template-columns: 1fr 1fr;
  }
}

/*BELOW 500PX*/
@media (max-width: 31.25em) {
  .grid-three-cols-about-us {
    grid-template-columns: 1fr;
  }

  .about-us-text {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .about-us-pic-1 {
    grid-column: 1/2;
  }

  .grid-col-priority {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .grid-col-priority-2 {
    grid-column: 1/2;
    grid-row: 4/5;
  }

  .about-us-pic-2 {
    grid-column: 1/2;
    grid-row: 5/6;
  }

  .sidebar {
    grid-template-columns: 1fr;
  }

  .text-align-center-services {
    text-align: center;
  }

  .tab-content {
    grid-template-columns: 1fr;
  }

  .grid-four-cols {
    grid-template-columns: 1fr;
  }

  .grid-two-cols {
    grid-template-columns: 1fr;
  }

  .advantages {
    margin-top: 4rem;
  }

  .heading-primary {
    font-size: 3.5rem;
  }

  .grid-three-cols-reviews {
    grid-template-columns: 1fr;
  }

  .grid-three-cols {
    grid-template-columns: 1fr;
  }

  .footer-left {
    grid-column: 1/3;
  }

  .footer-logo {
    max-width: 27rem;
  }

  .footer {
    padding: 2rem;
  }

  .heading-our-tours {
    font-size: 4.5rem;
  }

  .our-approach-img {
    grid-column: 1/2;
  }

  .accessible-content {
    grid-column: 1/2;
  }

  .grey-container-heading {
    font-size: 2.8rem;
  }

  .our-vehicles {
    grid-column: 1/2;
  }

  .vehicle-pic {
    grid-column: 1/2;
  }

  .our-team-topic {
    grid-column: 1/2;
  }

  .cta-text {
    padding: 0 3.9rem;
    text-align: center;
  }
}
